@use './variables.scss' as v;

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  white-space: normal;
}

input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
  font: inherit;
  outline: none;
  transition: none;
}


svg[data-lastpass-icon="true"] {
  display: none !important;
}
textarea {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  box-shadow: none;

}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
  font: inherit;
  outline: none;
}


body {
  font-family: v.$font-primary;
  color: v.$primary-color;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('@/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
}
